<%= form_for(new_order) do |f| %>
  <% if new_order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(new_order.errors.count, "error") %> prohibited this new_order from being saved:</h2>

      <ul>
      <% new_order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :sauce_name %><br>
    <%= f.select :sauce_name, @sauces.map{|y|["#{y.name}",y.id]} %>
  </div>

  <div class="field">
    <%= f.label :quantity %><br>
    <%= f.number_field :quantity %>
  </div>

  <div class="field">
    <%= f.label :destination %><br>
    <%= f.select :destination, @locations.map{|x| ["#{x.city}, #{x.state}", x.id]} %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

