<p id="notice"><%= notice %></p>

<h1>New Orders</h1>

<table>
  <thead>
    <tr>
      <th>Sauce name</th>
      <th>Quantity</th>
      <th>Destination</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @new_orders.each do |new_order| %>
      <tr>
        <td><%= new_order.sauce_name %></td>
        <td><%= new_order.quantity %></td>
        <td><%= new_order.destination %></td>
        <td><%= link_to 'Show', new_order %></td>
        <td><%= link_to 'Edit', edit_new_order_path(new_order) %></td>
        <td><%= link_to 'Destroy', new_order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New New Order', new_new_order_path %>
