<%= form_for(factory) do |f| %>
  <% if factory.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(factory.errors.count, "error") %> prohibited this factory from being saved:</h2>

      <ul>
      <% factory.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :sauce_name %><br>
    <%= f.select :sauce_id, @sauces.map{|y|["#{y.name}",y.id]} %>
  </div>
    <div class="field">
    <%= f.label :ingredient_names %><br>
    <% @ingredients.each do |ingredient| %>
    <%= check_box_tag("ingredient[]", ingredient.id) %><%= ingredient.name %>: $<%= ingredient.cost %><br>
    <% end %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<h2>Our Ingredients</h2>
<ul>
<% @ingredients.each do |ingredient| %>
  <li><%= ingredient.name %></li>
<% end %>