<p id="notice"><%= notice %></p>

<p>
  <strong>Sauce name:</strong>
  <%= @order.sauce.name %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @order.quantity %>
</p>

<p>
  <strong>Destination:</strong>
  <%= @order.destination %>
</p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
