<p>
  <strong>Image:</strong>
  <%= image_tag @sauce.image.url %>
</p>

<p>
  <strong>Name:</strong>
  <%= @sauce.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @sauce.description %>
</p>

<p>
  <strong>Origin:</strong>
  <%= @sauce.origin %>
</p>

<p>
  <strong>Ingredients:</strong>
  <%= @sauce.ingredients %>
</p>

<%if @sauce.user_id == current_user.id%>
  <div class="text-center edit-links">
    <%= link_to "Edit", edit_sauce_path(@sauce) %>
    |
    <%= link_to "Cancel", sauces_path%>
  </div>
<%else%>
  <div class="text-center edit-links">
    <%= link_to "Cancel", sauces_path%>
  </div>
<% end %>
